*{
    overflow: hidden;
}

.dash-container{
    height: 100vh;
    width: 100vw;
}

.title-main{
    position: absolute;
    top: 30px;
    left: 50px;
    font-size: 4rem;
    letter-spacing: 10px;
    font-weight: 600;
    color: white;
    text-shadow:  -2px -2px 0 #333,  
    1px -1px 0 #333,
    -1px 1px 0 #333,
     1px 1px 0 #333;
     text-transform: uppercase;
}

.dashboard{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

::-webkit-scrollbar {
    width: 10px;
  }
  
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 0px #333; 
    border-radius: 10px;
  }   

::-webkit-scrollbar-thumb {
    background: white; 
    border-radius: 3px;
    border: 3px solid #333;
  }
  
::-webkit-scrollbar-thumb:hover {
    background: none; 
  }

.container{
    height: 70vh;
    width: 70vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
    padding: 0px 50px 50px 50px;
    margin-top: 90px;
    overflow-y: scroll;
    align-items: center;
}

.card{
    background: white;
    height: 100%;
    padding: 20px 25px;
    border-radius: 8px;
    border: 3px solid #333;
    cursor: pointer;
}

.card .title{
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    transition-property: all;
    transition-duration: 300ms;
    box-sizing: border-box;
}

.title:hover{
    font-size: 2.5rem;
        color: white;
    text-shadow:  -2px -2px 0 #333,  
    1px -1px 0 #333,
    -1px 1px 0 #333,
     1px 1px 0 #333;
}

.card .type{
    margin-top: 20px;
    font-size: 0.9rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
}

.card .duration{
    margin-top: 20px;
    font-size: 0.9rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
}
