*{
    box-sizing: border-box;
}

.landing-container{
    padding: 35vh 0vh 20vh;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: #ff80ab;
}

.login-card{
    height: 330px;
    width: 300px;
    border: 0.1rem solid #333333;
    border-radius: 5px;
    padding: 25px 30px;
    background: white;
}

.login-card .title{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 500;
    padding-top: 10px;
}

.login-card .form{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 15px 0px 30px 0px;
}

.form input{
    height: 30px;
    border: none;
    border-left: #333 3px solid;
    border-right: #333 3px solid;
    text-align: center;
    font-size: 0.8rem;
    letter-spacing: 2px;
    font-weight: 500;
    background: whitesmoke;
}

input:focus{
    outline: none;
}

.form button{
    height: 30px;
    cursor: pointer;
    border: none;
    font-size: 0.7rem;
    letter-spacing: 3px;
    font-weight: 500;
    text-transform: uppercase;
    border-left: #333 3px solid;
    border-right: #333 3px solid;
}

.OR{
    color: white;
    font-size: 1.1rem;
    letter-spacing: 2px;
    font-weight: 600;
}
.text-shadow{
    text-shadow:  -1px -1px 0 #333,  
    1px -1px 0 #333,
    -1px 1px 0 #333,
     1px 1px 0 #333;
     text-transform: uppercase;
}

.btn{
    height: 35px;
    width: 120px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 600;
    border: solid 2px #333;
    border-radius: 5px;
    cursor: pointer;
}