.main{
  background-color: #ff80ab;
}

.notification-container {
  position: absolute;
  height: 5vh;
  width: 100vw; 
  display: flex;
  align-items: center;
}

.notification {
  position: relative;
  height: 4vh;
  width: 15vw;
  background: white;
  border: solid 2px #333333;
  border-radius: 5px;
  padding: 5px;
  padding-left: 15px;
  display: flex;
  align-items: center; 
  letter-spacing: 2px;
  font-weight: 600;
  animation-name: notify;
  animation-duration: 4000ms;
  transform: translateX(110vw);
}

@keyframes notify{
  0%{
    transform: translateX(100vw);
  }
  /* 25%{
    transform: translateX(90vw);
  } */
  15%{
    transform: translateX(84.5vw);
  }
  75%{
    transform: translateX(84.5vw);
  }
  100%{
    transform: translateX(100vw);
  }
}

